/*duzina headera*/
#header
{
	width: 900px;
	height:70px;
	background:rgba(00,11,22,33);
	color:#9fa8b0;
	font-family:Verdana, Geneva, sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#header #left
{
	float:left;
	position:relative;
}
#header #left label
{
	position:relative;
	top:15px;
	left:100px;
	font-size:2em;
}
#header #right
{
	float:right;
	position:relative;
}
#header #right #content
{
	position:relative;
	top:20px;
	right:100px;
	color:#fff;
}
#header #right #content a
{
	color:#00a2d1;
}


#body
{
	text-align:center;
	margin-top:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
}
