#art-main
{
   background: #FFFFFF url('images/page.jpeg') top center fixed;
   margin:0 auto;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }
.art-content .art-postcontent-0 .layout-item-0 { margin-top: 10px;margin-bottom: 10px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-spacing: 10px 0px; border-collapse: separate;  }
.art-content .art-postcontent-0 .layout-item-2 { color: #737373; background: #EB9500; padding: 0px;  }
.art-content .art-postcontent-0 .layout-item-3 { color: #737373; background: #2F89B6; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-4 { color: #737373; background: #ff1a1a; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-5 { color: #737373; background: #6DAF28; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-6 { padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-7 { background: ; padding-right: 10px;padding-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-8 { margin-top: 0px;margin-right: 10px;margin-bottom: 20px;margin-left: 10px;  }
.art-content .art-postcontent-0 .layout-item-9 {  border-collapse: separate;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

/*nav bar textura*/
.art-nav
{
   background: #000000;
   background: #959595; /* Old browsers */
   background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */

   padding:8px 0;
   margin:10px auto 0;
   position: relative;
   z-index: 100;
   font-size: 0;
   text-align: center;
}

/*horizontalno izlistavanje elementa */
ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

/*pozicija kartica*/
ul.art-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 5px;
   padding-right: 5px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
/*duzina nav bar-a*/
.art-nav{
   width: 900px;
   padding-left: 0;
   padding-right: 0;
}

/* fino podesavanje pozicije */
ul.art-hmenu>li {
   margin-left: 6px;
}
ul.art-hmenu>li:first-child {
   margin-left: 3px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 3px;
}
/* nav bar pozicija */
ul.art-hmenu>li>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 28px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 34px;
   cursor: pointer;
   text-decoration: none;
   color: #98AE9A;
   line-height: 34px;
   text-align: center;
}
/* prikazivanje nav bar-a */
.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 13px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}
/* oznaci aktivan tab */
ul.art-hmenu>li>a.active
{
   background: #6DAF28;
   background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -webkit-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -moz-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -o-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: -ms-linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   -svg-background: linear-gradient(top, #80CC2E 0, #5B9121 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 28px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

/*hover zelena boja */
ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #A0DB61;
   background: linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -moz-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -o-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: -ms-linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   background: linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   -svg-background: linear-gradient(top, #B4E382 0, #8FD544 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid transparent;
   padding:0 28px;
   margin:0 auto;
}
/* zadrzi boju tokom hovera */
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #242E25;
   text-decoration: none;
}

/* VELICINA CLANKA */
.art-sheet
{
   background: #FFFFFF;
   background: rgba(255, 255, 255, 0.5);
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.07);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.07);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.07);
   border:2px solid rgba(181, 197, 182, 0.5);
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 900px;
   z-index: auto !important;
}

.art-header
{
   width: 900px;
   margin:10px auto 0;
   position:relative;
   height: 250px;
   background-image: url('images/header.png');
   background-position: center top;
   background-repeat: no-repeat;
    
}

#headerImage
{
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*omotac*/
.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-postcontent h4
{
   color: #FFFFFF;
   margin: 10px 0;
   font-size: 14px;
   font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-transform: uppercase;
   text-align: center;
   text-shadow: 1.4px 1.4px 1px rgba(23, 23, 23, 0.82);
}

/* SLOGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAN*/

.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}
.art-object0
{
    display: block;
    left: 100%;
    margin-left: -450px;
    position: absolute;
    top: 15px;
    width: 400px;
    height: 322px;
    background-image: url('images/Get-FIT-Logo.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}
.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 71px;
  left: 2.6%;
  line-height: 100%;
  margin-left: -6px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.art-headline, 
.art-headline a, 
.art-headline a:link, 
.art-headline a:visited, 
.art-headline a:hover
{
font-size: 58px;
font-family: Arial, Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 2.1px 2.1px 1px rgba(23, 23, 23, 0.3);
  padding: 0;
  margin: 0;
  color: #0080ff !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 123px;
  left: 2.45%;
  line-height: 100%;
  margin-left: -6px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.art-slogan, 
.art-slogan a, 
.art-slogan a:link, 
.art-slogan a:visited, 
.art-slogan a:hover
{
font-size: 48px;
font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-align: left;
text-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.2), 1.4px 1.4px 1px rgba(0, 0, 0, 0.2), 2.1px 2.1px 2px rgba(0, 0, 0, 0.2), 2.8px 2.8px 1px rgba(0, 0, 0, 0.2), 3.5px 3.5px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  color: #82D02F !important;
}

